body {
  background-color: #E2E2E2;
  height: 100%;
}

/* navigation styles */
.navbar {
  background-color: #CCCCCC;

}

.navbar-header {
  height: 100px;
}

.navbar-nav {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-brand {
  padding: 10px 15px;
}

.navbar-default .navbar-nav li {
  background-color: #21B6F4;
  border: 1px solid #454f59;
  border-right: none;
  padding-left: 10px;
  padding-right: 10px;
  border-left: none;
}

.navbar-default .navbar-nav li a {
  color: #fff;
  font-size: 1.1em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.navbar-default .navbar-nav li:hover {
  background-color: gray;
}

.navbar-default .navbar-nav li:first-child {
  border-top: 2px solid #454f59;
}

.navbar-default .navbar-nav li:last-child {
  border-bottom: 2px solid #454f59;
}

.navbar-toggle {
  margin-top: 30px;
}

/* Slider */
.simple-slider {
  position: relative;
  margin: 0 auto;
}

.simple-slider img {
  border: 6px solid white;
  margin: 0 auto;
  width: 100%;
}

#main-content {
  padding-top: 15px;
}

#main-content p {
  padding-top: 15px;
  width: 80%;
}

#main-content ul {
  padding-top: 15px;
  width: 80%;
}

#main-content img {
  border: 6px solid white;
}

/* Lets set up the media quiries so that I can fix a few things */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-default .navbar-nav li:first-child {
      border-left: 1px solid #454f59;
      border-top: 1px solid #454f59;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
  }

  .navbar-default .navbar-nav li:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 1px solid #454f59;
      border-right: 1px solid #454f59;
  }

  .navbar-default .navbar-nav li {
    border-left: 1px solid #454f59;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* footer */
footer, ul, li {
  text-decoration: none;
}

